[Unit]
Description=Disco Drone Startup Service
ConditionPathExists=/home/ubuntu/disco-drone/dodo-py

[Service]
Type=forking
Restart=always
User=ubuntu
TimeoutStartSec=900
WorkingDirectory=/home/ubuntu/disco-drone
ExecStart=/home/ubuntu/disco-drone/dodo-py/scripts/startup.bash

[Install]
WantedBy=multi-user.target